{% load static %}
<nav class="navbar bg-base-100">
  <div class="navbar-start">
    <a href="{% url 'index' %}" class="flex items-center">
      <span>
        <img class="w-10 h-10 mr-2" src="{% static 'images/leo_ledger.svg' %}" />
      </span>
      <span class="self-center text-2xl font-semibold whitespace-nowrap">Leo Ledger</span>
    </a>
  </div>
  
  <div class="navbar-end">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        {% if user.is_authenticated %}
          <li><a href="{% url 'transactions-list' %}">My Transactions</a></li>
          <li><a href="{% url 'account_logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'account_login' %}">Login</a></li>
          <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        {% if user.is_authenticated %}
          <li><a href="{% url 'transactions-list' %}">My Transactions</a></li>
          <li><a href="{% url 'account_logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'account_login' %}">Login</a></li>
          <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>